* {
    margin: 0 0;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-variant: initial;
}

body {
    margin: 0;    
    width: 100vw;
    font-size: 13px;
    font-weight: 400;
    color: #9b9b9b;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}
body::-webkit-scrollbar-thumb {
	width: 2px !important;
	background: rgba( 180, 180, 180, 0.6);
}

.container {
    margin: auto auto;
    max-width: 1170px;
    text-align: center;
    box-sizing: border-box;
    border-left: solid 30px;
    border-right: solid 30px;
    border-color: transparent;
}

#cover {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: background linear 0.4s;
    background-image: url(../img/cover1.jpg);
    background-position: center;
    background-size: cover;
}

#cover * {
    z-index: 1;
}

#cover::before {
    top: 0px;
    left: 0px;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba( 33, 33, 33, 0.3);
}

#cover #c--content {
    left: 0px;
    width: 100%;
    text-align: center;
    height: calc(100% - 100px);
    border-top: solid 100px transparent;
}

#cover #c--content h1 {
    color: white;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 10px;
}

#cover #c--content p {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

#cover #c--content button,
#cover #c--content a  {
    z-index: 2;
    padding: 0;
    width: 170px;
    height: 51px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 35px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 0;
    line-height: 49px;
    text-align: center;
    position: relative;
    border-radius: 50px;
    font-variant: initial;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.26px;    
    background: transparent;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    transition: all linear 0.2s;
    font-family: 'Raleway', sans-serif;
}

#cover #c--content a  {
    height: 49px;
}

#cover #c--content button:hover,
#cover #c--content a:hover {
    color: rgb( 55, 55, 55);
    background: rgb( 255, 255, 255);
}

#cover #c--content .container {
    border-top: solid 90px;
    border-bottom: solid 90px;
    border-color: transparent;
}

footer {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb( 33, 37, 43);
}

footer hr {
    width: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}