.web_back {
    color: rgba( 56, 108, 225, 0.5);
    background: linear-gradient( -45deg, #2da8ff, #7c11ab) !important;
}

.mobile_back {
    color: rgba( 247, 57, 63, 0.5);
    background: linear-gradient( -45deg, #ee0979, #ff6a00) !important;
}

#service_cover {
    /*height: 536px;*/
    height: auto;
    padding-bottom: 200px;
    margin-bottom: -180px;
}

#service_cover.web {
    background-image: url(../img/service_web.svg);
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

#service_cover.mobile {
    background-image: url(../img/service_mobile.svg);
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

p span {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sc--content {
    display: block;
    padding-top: 100px;    
    position: relative;
    box-sizing: inherit;
    margin-bottom: 120px;
}

#sc--content .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#sc--content h1,
#sc--content h2,
p {
    color: white;
    display: block;
    text-align: left;
}

#sc--content h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

#sc--content h2 {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

#sc--content a {
    display: table;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: solid 0px;
    padding: 20px 30px;
    background: white;
    text-decoration: none;
    border-radius: 30px 30px;
    transition: all linear 0.2s;
}

#sc--content a:hover {
    transform: scale(1.05);
}

#sc--content a.web {
    color: rgb( 56, 108, 225);
    box-shadow: 0px 12px 22px 1px rgba( 56, 108, 225, 0.3);
}

#sc--content a.web:hover {
    box-shadow: 0px 12px 22px 1px rgba( 56, 108, 225, 0.5);
}

#sc--content a.mobile {
    color: rgb( 247, 57, 63);
    box-shadow: 0px 12px 22px 1px rgba( 247, 57, 63, 0.3);
}

#sc--content a.mobile:hover {
    box-shadow: 0px 12px 22px 1px rgba( 247, 57, 63, 0.5);
}

#sc--content .container {
    max-width: 900px;
    position: relative;
}

.left {
    width: 350px;
}

.right {
    top: 50px;
    right: 0px;
    position: absolute;
    width: calc(100% - 350px);
    height: calc(100% - 100px);
}

.right img {
    top: 50%;
    left: 0px;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
}

.image_wrapper {
    display: table;
    max-width: 400px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px 20px;
    box-shadow: 0px 8px 20px 0px;
}

.image_wrapper img {
    border-radius: 20px 20px;
}

.image_wrapper.phone img {
    max-width: 250px;
}

.image_wrapper.desktop img {
    max-width: 400px;
}

.c__wrapper {
    display: flex;
    max-width: 900px;
    margin: auto auto;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
    display: -ms-flexbox;
    box-sizing: border-box;
    border-left: solid 30px;
    border-right: solid 30px;
    border-color: transparent;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.c__wrapper:nth-of-type(2n) {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.c__wrapper:nth-of-type(2n) .c__img {
    background: 
        url(../img/services/web/bubble2.svg) 
        0 
        100%
        no-repeat;
    background-size: contain;
    padding: 0 0% 0 10%;
}

.c__wrapper:nth-of-type(2n) .c__img.web {
    background: 
        url(../img/services/web/bubble2.svg) 
        0 
        100%
        no-repeat;
    background-size: contain;
}

.c__wrapper:nth-of-type(2n) .c__img.mobile {
    background: 
        url(../img/services/mobile/bubble2.svg) 
        0 
        100%
        no-repeat;
    background-size: contain;
}

.c__wrapper h1,
.c__wrapper h2,
.c__wrapper p {
    color: rgb( 113, 117, 123);
    display: block;
    text-align: left;
}

.c__wrapper h1,
.container > h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

.c__wrapper h1.web,
.container > h1.web {
    background: -webkit-linear-gradient( -45deg, #2da8ff, #7c11ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c__wrapper h1.mobile,
.container > h1.mobile {
    background: -webkit-linear-gradient( -45deg, #ee0979, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c__wrapper p {
    font-size: 20px;
    margin-bottom: 30px;
}

.c__wrapper a,
.c__wrapper button {
    color: white;
    display: table;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: solid 0px;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 30px 30px;
    transition: all linear 0.2s;
}

.c__wrapper a:hover,
.c__wrapper button:hover {
    transform: scale(1.05);
}

.c__text {
    -ms-flex: 1;
    flex: 1;
    min-width: 240px;
    max-width: 460px;
}

.c__text input,
.c__text textarea {
    width: 100%;
    height: 40px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 6px 6px;
    color: rgb( 62, 137, 238);
    transition: all linear 0.2s;
    background: rgb( 233, 237, 243);
    border: solid 1px rgba(72, 116, 209, 0.2);
    box-shadow: -2px 2px 2px rgba( 72, 116, 209, 0.2) inset;
}

.c__text input[type="number"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c__text input:hover,
.c__text textarea:hover,
.c__text input:focus,
.c__text textarea:focus {
    background: rgb( 243, 247, 253);
    border: solid 1px rgb(72, 116, 209);
}

.c__text .mobile input,
.c__text .mobile textarea {
    color: rgb( 255, 106, 0);
    background: rgb(255, 246, 241);
    border: solid 1px rgba(255, 106, 0, 0.2);
    box-shadow: -2px 2px 2px rgba(207, 96, 16, 0.2) inset;
}

.c__text .mobile input:hover,
.c__text .mobile textarea:hover,
.c__text .mobile input:focus,
.c__text .mobile textarea:focus {
    background: rgb(255, 251, 249);
    border: solid 1px rgb(255, 106, 0) !important;
}

.isBad {
    display: none;
    font-size: 16px;
    margin-top: -5px;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px 4px;
    color: rgb(212, 56, 29);
    background: rgba(255, 99, 71, 0.7);
    border: solid 1px rgb(212, 56, 29);
}

.isGood {
    color: rgb(50, 83, 155) !important;
    background: rgba(72, 116, 209, 0.7) !important;
    border: solid 1px rgb(72, 116, 209) !important;
}
    
.c__text .image_wrapper {
    display: none;
}

.c__img {
    -ms-flex: 1;
    flex: 1;
    max-width: 400px;
    padding: 0 5% 0 10%;
    margin-right: 40px;
}

.c__img.web {
    background: 
    url(../img/services/web/bubble.svg) 
        0 
        100%
        no-repeat;
    background-size: contain;
}

.c__img.mobile {
    background: 
    url(../img/services/mobile/bubble.svg) 
        0 
        100%
        no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 637px) {
    #service_cover {
        padding-bottom: 140px;
    }
    #sc--content * {
        text-align: center !important;
    }
    #sc--content a {
        margin-left: auto;
        margin-right: auto;
    }
    .left {
        width: 100%;
    }
    
    .right {
        width: 100%;
        top: inherit;
        right: inherit;
        position: inherit;
        height: auto;
    }
    
    .right img {
        top: inherit;
        left: inherit;
        width: inherit;
        position: inherit;
        transform: inherit;
    }

    .c__text * {
        text-align: center !important;
    }
    
    .c__text a {
        margin-left: auto;
        margin-right: auto;
    }
    
    .c__text .image_wrapper {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 10px;
        margin-bottom: 20px;
    }

    .c__text .image_wrapper img {
        width: 100%;
    }

    .c__img {
        display: none;
    }
  }