header[incover="true"] * {
    color: black;
    border-color: rgb(111,111,111) !important;
}

header[incover="true"] #cont-menu #cont-menu--services a {
    font-weight: bold !important;
}

header[incover="true"] #bMenu::before {
    border-color: black;
}

header[incover="true"] #bMenu::after {
    border-color: black;
}

header #cont-menu #cont-menu--services {
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
    display: none;
    position: fixed;
    padding-top: 100px;
    box-sizing: border-box;
    background: rgba( 11, 11, 11, 0.9) !important;
}

header #cont-menu #cont-menu--services a {
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    color: rgb( 33, 33, 33);
    background: rgba( 240, 240, 240, 0);
}

header #cont-menu #cont-menu--services a:nth-child(2n) {
    background: rgba( 120, 120, 120, 0.1);
}

header #cont-menu #cont-menu--services.active {
    display: block;
    background: rgba( 240, 240, 240, 0.9) !important;
}

.blur {
    filter: blur(5px);
}

#bMenu {
    width: 50px;
    height: 50px;
    display: block;
}

#cover #c--content h1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}

#cover #c--content p {
    color: white;
    font-size: 20px;
    font-weight: 500;
}