/* Right Icons */
header #cont-menu #cont-menu--contact {
    width: 20px;
}

header #cont-menu #cont-menu--contact a {
    width: 6px;
    display: flex;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    max-height: 24px !important;
}

header #cont-menu #cont-menu--contact a img {
    margin-bottom: 35px !important;
}