<script>
    $(function () {
        $("header").addClass("hwf");
    });
</script>
<style>
    body {
        background: rgb( 245, 245, 245);
    }
</style>


<div id="container" style="margin-top: 100px;">
    <div class="content" id="seeMore">
        <div class="container">
            <div class="one-item last">
                <h1>
                    Compra tu Pagina Web
                </h1>
                <hr>
                <p>
                    ¡Tenemos preparados diseños agradables y perfectamente visibles en cualquier <br>
                    dispositivo para entregarte tu sitio web ideal en el menor tiempo posible!
                </p>
            </div>
            <div class="three-item pink">
                <h2>Básica</h2>
                <p>
                    De 1 a 3 secciones(Home, Información del negocio, formulario de contacto). <br> <br>
                    Diseño 100% responsive. <br> <br>
                    Colores a eleccion del cliente.
                </p>
                <span>$ 2,000 MXN</span>
            </div>
            <div class="three-item blue">
                <h2>Elite</h2>
                <p> 
                    De 1 a 5 secciones. <br><br>
                    Diseño 100% responsive. <br><br>
                    Diseño de logotipo del negocio (aplican restricciones). <br><br>
                    Colores a eleccion del cliente <br><br>
                    Dominio y hosting gratuito durante un año (aplican restricciones).
                </p>
                <span>$ 4,000 - 5,500 MXN</span>
            </div>
            <div class="three-item plus">
                <h2>Premium</h2>
                <p>
                    De 1 a 8 secciones. <br><br>
                    Prioridad en los resultados de Google. <br><br>
                    Diseño 100% responsive. <br><br>
                    Diseño de logotipo del negocio (aplican restricciones). <br><br>
                    Colores a eleccion del cliente <br><br>
                    Dominio y hosting gratuito durante un año(aplican restricciones).
                </p>
                <span>$ 7,000 - 11,000 MXN</span>
            </div>
        </div>
    </div>
</div>