<div id="space">
    <div id="cover">
        <div id="c--content">
            <div class="c--content-info">
                <div class="container">
                    <h1>
                        Empresa Enfocada al <br> 
                        Desarrollo de Software a Medida del <br> Cliente.
                    </h1>
                    <p>
                        Convertimos tus ideas en tecnología y del cumplir <br> tus metas en un estilo de vida
                    </p>
                    <a href="#seeMore">Conocer Más</a>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="content" id="seeMore">
            <div class="container">
                <div class="one-item last">
                    <h1>
                        Bienvenido a BUZZARD
                    </h1>
                    <hr>
                    <p>
                        En Buzzard, estamos comprometidos a desarrollar los mejores sitios web y portafolios <br> 
                        creados completamente con pasión, simplicidad y creatividad.
                    </p>
                </div>
                <div class="three-item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" d="M32.001,0.887c17.184,0,31.113,13.929,31.112,31.113
                            C63.114,49.185,49.184,63.115,32,63.113C14.815,63.114,0.887,49.185,0.888,32.001C0.885,14.816,14.815,0.887,32.001,0.887z"></path>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" x1="32" y1="1" x2="32" y2="63"></line>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" x1="63" y1="32" x2="1" y2="32"></line>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" d="M30,1c0,0-14,11-14,31s14,31,14,31"></path>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" d="M34,1c0,0,14,11,14,31S34,63,34,63"></path>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" d="M8,12c0,0,5,10,24,10s24-10,24-10"></path>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" d="M8,52c0,0,5-10,24-10s24,10,24,10"></path>
                    </svg>
                    <h2>Desarrollo Web</h2>
                    <p>
                        La más alta tecnologia para obtener resultados con la mejor calidad.
                    </p>
                </div>
                <div class="three-item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" d="M59,56
                        c0,3.866-11.641,7-26,7S7,59.866,7,56"></path>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" d="M59,40
                        c0,3.866-11.641,7-26,7S7,43.866,7,40"></path>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" d="M59,24
                        c0,3.866-11.641,7-26,7S7,27.866,7,24"></path>
                        <ellipse fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" cx="33" cy="8" rx="26" ry="7"></ellipse>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" x1="7" y1="8" x2="7" y2="56"></line>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" x1="59" y1="8" x2="59" y2="56"></line>
                    </svg>
                    <h2>Base de Datos</h2>
                    <p>
                        Para que siempre tengas disponible y en orden toda la información de tu empresa.
                    </p>
                </div>
                <div class="three-item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <g>
                            <rect x="11" y="1" fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" width="42" height="62"></rect>
                        </g>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" x1="28" y1="5" x2="36" y2="5"></line>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" x1="11" y1="51" x2="53" y2="51"></line>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" x1="11" y1="9" x2="53" y2="9"></line>
                        <circle fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-linejoin="bevel" stroke-miterlimit="10" cx="32" cy="57" r="2"></circle>
                    </svg>
                    <h2>Aplicaciones Móviles</h2>
                    <p>
                        Desarrollamos Aplicaciones Móviles para los Sistemas Operativos Android & iOS
                    </p>
                </div>
                <div class="three-item">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <g>
                        <rect x="8" y="33" fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" width="48" height="30"></rect>
                        <path fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" d="M16,33V17c0-8.837,7.163-16,16-16s16,7.163,16,16
                            v16"></path>
                        <circle fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" cx="32" cy="47" r="4"></circle>
                        <line fill="none" stroke="rgb(66, 120, 165)" stroke-width="2.5" stroke-miterlimit="10" x1="32" y1="51" x2="32" y2="55"></line>
                        </g>
                    </svg>
                    <h2>Seguridad Informática</h2>
                    <p>
                        Realizamos servicios profesionales en el área de seguridad informática.
                    </p>
                </div>
                <a href="/comprar_web" class="global_link">Comprar Una Página Web</a>
            </div>
        </div>

        <div class="dc" id="nosotros">
            <div class="content doble-left">
                <div class="container">
                    <h1>Amamos Nuestro Trabajo <br>
                        Y Lo Hacemos Con Pasión</h1>
                    <hr>
                    <p>                        
                        Después de todo, como se describe en Tendencias de diseño web, la visión domina gran parte 
                        de nuestra interpretación subconsciente del mundo que nos rodea. Encima, las imágenes 
                        agradables crean una mejor experiencia de usuario.
                    </p>
                    <div class="doble-item">
                        <h2>Historia</h2>
                        Buzzard nace de la necesidad de adaptarse al cambio y de ayudar a las personas, 
                        porque en buzzard no sólo creamos software, desarrollamos sueños.
                        <h2>Valores</h2>
                        En buzzard sabemos la importancia de tener el mejor equipo y brindarles las 
                        herramientas para crear cosas increíbles.
                    </div>
                    <div class="doble-item">
                        <h2>Misión</h2>
                        Nuestra misión es generar un vínculo con nuestros clientes por medio de la tecnología, 
                        creemos firmemente que la tecnología puede mejorar nuestra calidad de vida
                        <h2>Resultados</h2>
                        En Buzzard nos mueve nuestra pasión por la tecnología al mismo tiempo que nuestros 
                        clientes nos respaldan con su confianza.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>