<div id="space">
    <div id="service_cover">
        <div id="sc--content">
            <div class="container">
                <div class="left">
                    <h1>Consigue la web que tu<br>negocio necesita</h1>
                </div>
                <div class="right">
                    <img src="/public/img/services/web/web.png" alt="" srcset="">
                </div>
                <div class="left">
                    <h2>Comienza a expandir tu negocio</h2>
                    <p>
                        ¡Solicita tu asesoría ahora mismo! <br>
                        Llamanos al: 
                        <span>
                            55 868 71793
                        </span>
                    </p>
                    <a href="#sa">
                        SOLICITAR ASESORÍA
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <section class="c__wrapper">
            <div class="c__text">
                <h1>
                    Diseño profesional y elegante
                </h1>
                <div class="image_wrapper phone web_back">
                    <img src="/public/img/services/web/mobile2.png" alt="">
                </div>
                <p>
                    Nuestros diseños son adaptables a cualquier tipo de dispositivo
                    que cuente con un navegador web, lo que te permitirá llegar a
                    la mayor cantidad de clientes de forma correcta.
                </p>
                <a href="#sa" class="web_back">
                    SOLICITAR ASESORÍA
                </a>
            </div>
            <div class="c__img">
                <div class="image_wrapper phone web_back">
                    <img src="/public/img/services/web/mobile2.png" alt="">
                </div>
            </div>
        </section>
        
        <section class="c__wrapper">
            <div class="c__text">
                <h1>
                    Soluciones programables
                </h1>
                <div class="image_wrapper desktop web_back">
                    <img src="/public/img/services/web/location.png" alt="">
                </div>
                <p>
                    Administra tus necesidades desde un sistema web con los mejores
                    estándares de seguridad para garantizar la protección de tu información
                    a demás de agilizar tu flujo de trabajo 
                </p>
                <a href="#sa" class="web_back">
                    SOLICITAR ASESORÍA
                </a>
            </div>
            <div class="c__img">
                <div class="image_wrapper desktop web_back">
                    <img src="/public/img/services/web/location.png" alt="">
                </div>
            </div>
        </section>

        <div class="container" style="padding-bottom: 80px;">
            <h1>Precios</h1><br>
            <div class="three-item pink">
                <h2>Básica</h2>
                <p>
                    De 1 a 3 secciones(Home, Información del negocio, formulario de contacto). <br> <br>
                    Diseño 100% responsive. <br> <br>
                    Colores a eleccion del cliente.
                </p>
                <span>$ 2,000 MXN</span>
            </div>
            <div class="three-item blue">
                <h2>Elite</h2>
                <p> 
                    De 1 a 5 secciones. <br><br>
                    Diseño 100% responsive. <br><br>
                    Diseño de logotipo del negocio (aplican restricciones). <br><br>
                    Colores a eleccion del cliente <br><br>
                    Dominio y hosting gratuito durante un año (aplican restricciones).
                </p>
                <span>$ 4,000 - 5,500 MXN</span>
            </div>
            <div class="three-item plus">
                <h2>Premium</h2>
                <p>
                    De 1 a 8 secciones. <br><br>
                    Prioridad en los resultados de Google. <br><br>
                    Diseño 100% responsive. <br><br>
                    Diseño de logotipo del negocio (aplican restricciones). <br><br>
                    Colores a eleccion del cliente <br><br>
                    Dominio y hosting gratuito durante un año(aplican restricciones).
                </p>
                <span>$ 7,000 - 11,000 MXN</span>
            </div>
        </div>
        
        <section id="sa" class="c__wrapper">
            <div class="c__text">
                <form action="/sa" method="POST">
                    <h1>
                        Solicitar Asesoría
                    </h1>
                    <p>
                        Déjanos tus datos y te contactaremos en breve
                    </p>
                    <div class="image_wrapper phone web_back">
                        <img src="/public/img/services/web/sa.jpg" alt="">
                    </div>
                    <input type="text" required name="nombre" placeholder="Nombre *" id="">
                    <input type="email" required name="correo" placeholder="Correo Electrónico *" id="">
                    <input type="number" required name="numero" placeholder="Número Telefónico *" id="">
                    <input type="text" name="empresa" placeholder="Empresa" id="">
                    <input type="text" name="puesto" placeholder="Puesto" id="">
                    <textarea type="text" name="mensaje" placeholder="Mensaje"></textarea>
                    <input type="hidden" name="servicio" value="web">
                    <div class="isBad">
                        Debes de enviar todos los campos
                    </div>
                    <button class="web_back">
                        ENVIAR SOLICITUD
                    </button>
                </form>
            </div>
            <div class="c__img">
                <div class="image_wrapper phone web_back">
                    <img style="max-width: 280px;" src="/public/img/services/web/sa.jpg" alt="">
                </div>
            </div>
        </section>

    </div>

    <footer id="contacto">
        <div class="container">
            <h1>Contáctanos</h1>
            <h5>Correo Electrónico</h5>
            <h3>servicios@buzzardmx.com</h3>
            <h3>contacto@buzzardmx.com</h3> 
            <center><hr></center>            
            <h5>Teléfono</h5>
            <h3>5586871793.</h3>
        </div>
    </footer>

</div>
<script src="/public/js/sa.js"></script>