<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/public/img/logo/logoBlack.png" /> 
    <link href="/public/css/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/social-circles.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/container.css">
    <link rel="stylesheet" href="/public/css/header.css">
    {{#ifeq service true}}
        <link rel="stylesheet" href="/public/css/services.css">
    {{/ifeq}}
    <link rel="stylesheet" media="(max-width: 798px)" href="/public/css/responsive/798/main.css">
    <link rel="stylesheet" media="(max-width: 798px)" href="/public/css/responsive/798/container.css">
    <link rel="stylesheet" media="(max-width: 637px)" href="/public/css/responsive/637/main.css">
    <link rel="stylesheet" media="(max-width: 637px)" href="/public/css/responsive/637/container.css">
    <link rel="stylesheet" media="(max-width: 480px)" href="/public/css/responsive/480/main.css">
    <link rel="stylesheet" media="(max-width: 480px)" href="/public/css/responsive/480/container.css">
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public//js/actions.js"></script>
    <title>BuzzardMX | {{title}}</title>
</head>
<body>
    {{> header}}
    {{{body}}}
</body>
</html>