header #cont-menu #cont-menu--services {
    left: 0px;
    top: 100px;
    height: 100vw;
    display: none;
    position: absolute;
}

header #cont-menu #cont-menu--services a {
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    color: rgb( 33, 33, 33);
    background: rgba( 240, 240, 240, 0.9);
}

header #cont-menu #cont-menu--services.active {
    display: block;
}

.blur {
    filter: blur(5px);
}

#bMenu {
    width: 50px;
    height: 50px;
    display: block;
}